.middle {
  background-image: url("/assets/images/catalogue-bg.jpg");
  background-size: cover;
}

.search-form {
  max-width: 400px;
}

.badge {
  cursor: pointer;
}

form {
  max-width: 500px;
}

.poster{
  width: 300px;
}
